<%- include('partials/header') %>

<main class="container">

    <section class="hero">

        <h1><%= organization.name %></h1>

        <p><%= organization.description %></p>

        <p>
            Contact:
            <%= organization.contact_email %>
        </p>

    </section>

    <section class="card-grid">

        <% projects.forEach(project => { %>

            <article class="info-card">

                <h2>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.name %>
                    </a>
                </h2>

                <p><%= project.description %></p>

            </article>

        <% }) %>

    </section>

</main>

<%- include('partials/footer') %>